*{
  box-sizing: border-box;
}

.container{

  width:100%;
  text-align:center;
}

.title h1{
  color: #c71585;

}

.contents{
  width:100%;
  text-align: center;

}

.always{
  width:70%;
  float: left;

}

.Hikaku{
  width:30%;
  float: left;
  text-align: center;
}

.always2 h3{
  float:left;
  width:25%;
  padding: 10px 5px;


}
